<ion-view view-title="{{alien.name}}">
  <ion-content>
	<div class="item">
    	<h1>{{alien.name}}</h1>
    	<p>{{alien.summary}}</p>
	</div>
	<div class="item item-text-wrap">
    	<h2>Power</h2>
    	<p>{{alien.power}}</p>
	</div>
	<div class="item item-text-wrap">
    	<h2>Wild Flare</h2>
    	<p>{{alien.wild}}</p>
	</div>
	<div class="item item-text-wrap">
    	<h2>Super Flare</h2>
    	<p>{{alien.super}}</p>
	</div>
	<div class="item item-text-wrap">
    	<h2>History</h2>
    	<p>{{alien.history}}</p>
	</div>
	<a class="item item-icon-right" href="https://www.fantasyflightgames.com/en/products/cosmic-encounter/products/cosmic-encounter/">
		<i class="icon ion-pricetag"></i>
    	<h2>Collection</h2>
    	<p>{{alien.xpac}}</p>
	</a>
	<div class="item item-image">
		<img src="img/{{alien.name}}.jpg">
	</div>

  </ion-content>
</ion-view>
